@use "assets/sass/utils";

:root {
	font-family: "Courier New", Courier, monospace;
}
body {
	margin: 0;
}
.fullPage {
	min-height: 100vh;
	scroll-snap-align: start;
}
.main {
	color: utils.$text-color;
	height: 100vh;
	background: utils.$main-color;
	overflow-y: scroll;
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
	&::-webkit-scrollbar {
		display: none;
	}

	&__header {
		@include utils.flexViewCentered(column);
	}
	&__content {
		&__about,
		&__projects,
		&__contact {
			@include utils.flexViewCentered(column);
		}
	}
}
